.justify-content-center{justify-content:center}.justify-content-end{justify-content:end}.justify-content-between{justify-content:space-between}
.align-items-center{align-items:center}.align-items-baseline{align-items:baseline}
.flex-column{flex-direction:column}
.d-flex{display:flex}.d-grid{display:grid}.d-inline-block{display:inline-block}.d-block{display:block}.d-inline-flex{display:inline-flex}
.d-none{display:none}
.obsoletes{display:none!important;height:0!important;width:0!important;overflow:hidden!important;visibility:hidden!important;position:absolute!important}
.flex-wrap{flex-wrap:wrap}
.flex-1{flex:1}
.font-weight-bold{font-weight:bold}
.text-center{text-align:center}.text-right{text-align:right}
.w-100{width:100%}.h-100{height:100%}
.ov-auto{overflow:auto}
.pos-relative{position:relative}.pos-absolute{position:absolute}
.user-select-none {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed */
}
.mt-0{margin-top:0}.m-0{margin:0}
.word-break-all{word-break:break-all}.word-break-word{word-break:break-word}.word-break-keep-all{word-break:keep-all}

.bg-white{background:white}

.mb-xs{margin-bottom:0.3rem}.mb-s{margin-bottom:0.5rem}.mb-m{margin-bottom:0.7rem}.mb-1rem{margin-bottom:1rem}

* {
  box-sizing: border-box;
}

/* # z-index */
.main-nav-bar{z-index:1}
modal-v2{z-index:99}

/* # themes */
:root {
  --dark: #201e1e;
  --light: #fdfdfd;
  --text-light: #82f6eb;

  --card-dark: #2f323b;
  --card-dark-lighter: rgb(255 255 255 / 4%);

  --button-dark: #2f323b;
  --button-light: #3f424d;
  --button-lighter: #6f6f6f;
  
  --border-dark: #cbccd042;
  --border-lighter: #dbdbdbc4;

  --text-light-color: #22ff3f;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif!important ;
}

:root {
  --live-progress-color: green;
  --active-task-bg: lightblue;
}
/*@media (prefers-color-scheme: dark) {*/
  
/*  :root {*/
/*    --live-progress-color: #00cc66;*/
/*    --active-task-bg: #0099cc;*/
/*  }*/

  /* Dark theme styles go here */
  /* Dark theme styles for all elements */
/*  body {*/
/*    background-color: #333333;*/
/*    color: #ffffff;*/
/*  }*/
/*}*/

/*@font-face {*/
/*  font-family: 'Material Symbols Outlined';*/
/*  font-style: normal;*/
/*  src: url('fonts/MaterialSymbolsRounded[FILL,GRAD,opsz,wght].woff2') format('woff');*/
/*}*/
.icon-mate {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 16px;  /* Preferred icon size */
  /* display: inline-block; */
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

.container-app {
  min-height: 600px;
}

.padding-container {
  padding-left: 0.6rem;
  padding-right: 0.6rem;
}

[data-obj="live-progress"], #live-history {
  color: var(--live-progress-color);
}
[data-slot="completionPercentage"] {
  color: purple;
  font-weight: bold;
}

/* # container add task*/
.container-add-task {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  margin-top: 76px;
}

/* # buttons */
button {
  background: none;
  border-radius: 4px;
  color:#333;
  padding: 0.2rem 1rem;
  font-size: 0.8em;
  border:1px solid #00000045;
  text-align:center;
  text-decoration:none;
  cursor:pointer;
}
button:hover{
  background-color:#ccc;
}
.btn-primary {
  background: #6ad591;
  color: white;
  border-color: #7cad8e;
}
.btn-nav {
  color: white;
  border: none;
}
.btn-nav:hover {
  background-color: #3e3e3e;
}
.btn-border-0 {
  border: 0;
}
.btn-timer-control-stop {
  background: #f47469;
  color: white;
}
.btn-timer-start {
  background: #58d758;
  color: white;
  border: none;
  box-shadow: 0 0 4px 0px #00000026;
}

/* # separator */
.separator-vertical {
    border-right: 1px solid #dedede;
}
.separator-hr {
  border-color: #0e0e0e0f;
}

/* ## add task */
.btn-add-task {
  border-radius: 100%;
  height: 64px;
  width: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  box-shadow: 0px 0px 25px 4px #00000012;
  position: absolute;
  right: 0.8rem;
  bottom: 1.4rem;
}





.input-style-default {
  padding: 0.4rem 0.45rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #333;
  outline: none;
  width: 100%;
}
.input-style-default:hover {
  border-color: #666;
}
.input-style-default:focus {
  border-color: #4CAF50;
  box-shadow: 0 0 0 3px rgba(76, 175, 80, 0.3);
}

.default-inline-flex-gap {
  display: flex;
  flex-wrap: wrap;
  gap: 0.2rem;
}
.default-gap {
  padding-top: 0.5rem;
}



/* progress bar */
  .progress-bar-container {
  width: 100%;
  height: 20px;
  background-color: #f2f2f2;
  border-radius: 5px;
}

.progress-bar {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #d1eaf2;
  border-radius: 5px;
  overflow: hidden;
  background-image: repeating-linear-gradient(45deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3) 10px, transparent 10px, transparent 20px);
  background-size: 56px 40px;
}


.progress-bar-fill {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  background-color: #48a9e6;
  border-radius: 5px;
  background-image: repeating-linear-gradient(45deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3) 10px, transparent 10px, transparent 20px);
  background-size: 56px 40px;
}

.progress-bar-fill--animated {
  animation: progress-bar-stripes 1s linear infinite;
}
.progress-bar-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
}

@keyframes progress-bar-stripes {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 56px 0;
  }
}


/* # active task, progress bar, task countdown */

.container-active-task {
  padding: 0.5rem;
    box-shadow: 0 0 8px 0px #00000026;
    border-radius: 4px;
        background: linear-gradient(180deg, #d2edf9, transparent);
} 

.NzE2ODYyNQ-progress-bar-container {
  width: 100%;
  height: 15px;
  background-color: #f2f2f2;
  border-radius: 5px;
}

.NzE2ODYyNQ-progress-bar {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #d1eaf2;
  border-radius: 5px;
  overflow: hidden;
  background-image: repeating-linear-gradient(45deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3) 10px, transparent 10px, transparent 20px);
  background-size: 56px 40px;
}
.NzE2ODYyNQ-progress-bar-fill {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  background-color: #48e6ca;
  border-radius: 5px;
  background-image: repeating-linear-gradient(45deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3) 10px, transparent 10px, transparent 20px);
  background-size: 56px 40px;
}
.NzE2ODYyNQ-progress-bar-fill.is-excess-time {
  background-color: #eca1a0;
}

.NzE2ODYyNQ-progress-bar-fill--animated {
  animation: progress-bar-stripes 1s linear infinite;
}
.NzE2ODYyNQ-progress-bar-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 0.7rem;
}

/* progress bar NzA5ODc1NQ */
.NzA5ODc1NQ-progress-bar-container, .task-progress-bar {
  width: 100%;
  align-items: center;
  display: flex;
}

.NzA5ODc1NQ-progress-bar {
  position: relative;
  width: 100%;
  height: 5px;
  background-color: #d1eaf2;
  overflow: hidden;
  display: flex;
  background-image: repeating-linear-gradient(45deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3) 10px, transparent 10px, transparent 20px);
  background-size: 56px 40px;
}


.NzA5ODc1NQ-progress-bar-fill {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #48a9e6;
  border-radius: 5px;
  background-image: repeating-linear-gradient(45deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3) 10px, transparent 10px, transparent 20px);
  background-size: 56px 40px;
}

.task-progress-bar {
  position: relative;
  width: 100%;
  height: 5px;
  background-color: #48a9e6;
  overflow: hidden;
  display: flex;
  background-image: repeating-linear-gradient(45deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3) 10px, transparent 10px, transparent 20px);
  background-size: 56px 40px;
}

body[data-state~="--timer-running"] .task-progress-bar {
  animation: progress-bar-stripes 1s linear infinite;
}

.NzA5ODc1NQ-progress-bar-fill--animated {
  animation: progress-bar-stripes 1s linear infinite;
}

.btn-star.is-starred {
  background: #fff900;
  border-color: #fff900;
}

/* # task */
[data-kind="task"] .title {
  word-break: break-word;
}

/* # task body */
.btn-start, .btn-stop {
  border-radius: 100%;
  width: 50px;
  height: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #f8fdff47;
  border: 0;
  color: white;
  font-size: 1.7rem;
}
.btn-toggle-mission {
  border-radius: 100%;
  width: 50px;
  height: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #e2e2e2;
  border: 0;
  /*color: white;*/
  font-size: 1.7rem;
}

/* # task toolbar */
#tasklist .container-task-toolbar {
  background: #f4f4f4;
}
#tasklist [data-obj="task"][data-state~="--active"] .container-task-toolbar {
  background: #bfe3ef;
}


/* # view mode tabs */
.container-view-mode button {
  background: none;
  border: 3px solid #00000000;
  padding: 10px;
  text-transform: uppercase;
}
.container-view-mode button.is-active {
  font-weight: bold;
}
.container-view-mode button:not(.is-active) {
  opacity: 0.6;
  border-bottom: 3px solid gainsboro;
}


/* # breadcrumbs */
.container-breadcrumbs button {
    background: white;
    border-radius: 4px;
    opacity: 0.92;
}

.container-breadcrumbs {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 4px;
    align-items: center;
}


/* view utils : views initial state */
[data-view-name] { display: none; }


/* # trackers */
#container-list-tracker .is-active {
    background: gainsboro;
}
.tracker-overlay {
  width: 160px;
  background: dodgerblue;
  color: white;
  font-size: 0.8rem;
  padding: 0.3rem;
  border-radius: 4px;
  position: absolute;
  bottom: 0.5rem;
  left: 0.5rem;
}


/* # item sequence */
.item-sequence.is-active {
  background: var(--border-lighter);
}
#tasklist [data-obj="task"][data-state~="--active"] .item-sequence.is-active { 
  /*background: var(--text-light);*/
  background: #d6eef7;
}
.item-sequence {outline: 1px solid #ebe9e96b;}
[data-slot="linkedTaskPath"] {
  font-size: 0.7em;
  opacity: 0.7;
}


/* # screen title */
.container-screen-title {
  background: #3e3e3e;
  color: #e0e0e0;
  padding: 0.7rem 0;
}

/* # nav bar */
.main-nav-bar {
  position: sticky;
  top: 0;
  padding: 0.4rem 0rem;
}

.main-nav-bar button {
    color: white;
    border: 0;
}

.main-nav-bar button:hover {
    background: #0a1128bf;
}
.main-nav-bar .separator-vertical {
    border-color: #908888;
}


[data-obj="task"].focused {
  outline: 2px solid lime;
  outline-offset: 2px;
}

.form-card-inner {
  border: 1px solid #dbdbdb;
  padding: 2rem 1rem;
  border-radius: 0.7rem;
}
.form-footer-card {
  border-top: 2px solid #110f0f;
  padding-top: 0.5rem;
  margin: 0 -1rem;
}

.settings-group-title {
  background: #00BCD4;
  color: white;
  padding: 0.2rem 0.7rem;
  margin: 0 -1rem;
  font-size: 0.9rem;
}
.settings-card-inner {
  border: 1px solid #efefef;
  border-radius: 0.3rem;
  padding: 1rem;
  background: white;
}

.btn-glass {
  background: #ffffff29;
  color: white;
  box-shadow: 0px 0px 1px 0px #000000db;
  padding: 7px 16px;
}

.modal-header {
  background: #2f2f35;
  color: white;
  margin: -1rem -1rem 1rem;
  padding: 0.7rem 1rem 6px;
}
.modal-header .heading {
  text-transform: uppercase;
  font-size: 1rem;
}