[data-obj="task"] {
  border: 1px solid #00000014;
  /*border-radius: 0.6rem;*/
  margin-bottom: 0.6rem;
  box-shadow: 0 0 3px 2px #0000001a;
  overflow: hidden;
}

[data-obj="task"] button {
  padding: 4px;
}

#tasklist-completed {
  outline: 2px solid #dbdbdb;
  outline-offset: 2px;
}


body[data-state~="--sleep-time"] #txt-time-before-sleep {color:red}

body:not([data-state~="--timer-running"]) [data-obj="stop-timer"],
#tasklist-container:not([data-state~="--manage-mode"]) [data-role="manage"],
#tasklist-container:not([data-state~="--manage-mode"]) [data-role="manage"],
body:not([data-state~="--import-mode"]) [data-section="import"],
_ {display:none}